:root {
  --fuente-redonda: "Segoe UI Variable Display", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --azul-real: #28348a;
  --azul-oscuro: #1a225c;
  --cian-vibrante: #00a3b7;
  --translucent-white: hsla(0, 0%, 100%, 0.7);
  --button-background: #F5F7F9;
  --inactive-overlay: rgba(255, 255, 255, 0.2);
  --text-color: #ffffff;
  --general-padding-margin: 0 2rem;
  --arrow-bg: rgba(255, 255, 255, 0.15);
  --arrow-border: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: var(--fuente-redonda);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header */
body > header {
  position: sticky;
  top: 0%;

  width: 100%;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--general-padding-margin);

  background-color: #fff;
  z-index: 1000;
}

body > header > article.atc_logo > img {
  width: auto;
  height: 50px;
}

body > header > article.atc_services {
  display: flex;
  justify-content: space-between;

  gap: 25px;
}

body > header > article.atc_services > a,
body > header > article.atc_services > button {
  color: var(--azul-real);
  font-size: 18px;
  font-weight: 400;

  border: none;
  background: none;
  text-decoration: none;
}

body > header > article.atc_services > a:hover,
body > header > article.atc_services > button:hover {
  text-decoration: underline;
  color: var(--cian-vibrante);
}

body > header > article.atc_services > button.dropdown_trigger {
  display: flex;
  align-items: center;

  gap: 8px;

  cursor: pointer;

  position: relative;
  z-index: 1001;
}

body > header > article.atc_services > button > span.arrow_icon {
  display: inline-block;

  font-size: 15px;
  font-weight: bold;

  transform: rotate(-90deg); 
  transition: transform 0.3s ease;
}

body > header > article.atc_services > button.active > span.arrow_icon {
  transform: rotate(90deg);
}

body > header > article.search_button > button {
  width: 100px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 1px var(--azul-real);
  border-radius: 4px;

  background: #fff;

  gap: 15px;
  cursor: pointer;
}

body > header > article.search_button > button > img {
  width: 16px;
  height: 16px;
}

body > header > article.search_button > button > span {
  display: inline-block;

  height: 16px;
  width: 1px;

  background: var(--azul-real);
}

body > header > nav.mega_menu {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;

  background: #fff;
  padding: var(--general-padding-margin);
  padding-top: 30px;
  padding-bottom: 100px;

  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.5s ease;
  
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  z-index: 999;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

body > header > nav.mega_menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

body > header > nav.mega_menu > div.menu_col h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 25px;
  margin-top: 25px;
}

body > header > nav.mega_menu > div.menu_col ul {
  list-style: none;
}

body > header > nav.mega_menu > div.menu_col ul li {
  margin-bottom: 10px;
}

body > header > nav.mega_menu > div.menu_col ul li a {
  text-decoration: none;
  color: var(--azul-real);
  font-size: 0.9rem;
  transition: color 0.2s;
}

body > header > nav.mega_menu > div.menu_col ul li a:hover, 
body > header > nav.mega_menu > div.menu_col h4:hover {
  color: var(--cian-vibrante);
  text-decoration: underline;
}

html > body > div.menu_overlay {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 90vh;
  
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 900;
}

html > body > div.menu_overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Carrusel */
body > main > section.hero_slider {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center; 
  
  background-color: #333;
  background-image: url('');
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  
  overflow: hidden;
  z-index: 1;
}

body > main > section.hero_slider > h1.hero_title {
  position: absolute;
  top: 15%;
  margin: var(--general-padding-margin);
  
  font-size: 4rem;
  font-weight: 100;
  color: var(--text-color);
  
  z-index: 10;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

body > main > section.hero_slider > button.nav_arrow {
  position: absolute;
  top: 50%;
  margin: var(--general-padding-margin);
  transform: translateY(-50%);
  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  background: var(--azul-real);
  border: none;
  color: var(--text-color);
 
  cursor: pointer;
  z-index: 20;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: all 0.3s ease;
}

body > main > section.hero_slider > button.next_btn {
  right: 2px;
}

body > main > section.hero_slider > button.nav_arrow:hover {
  background: var(--azul-oscuro);
  transform: translateY(-50%) scale(1.1);
}

body > main > section.hero_slider > button.nav_arrow > img {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

body > main > section.hero_slider > div.slider_window {
  width: 100%;
  height: 100%;
  overflow: hidden; 
  position: relative;
  z-index: 1;
}

body > main > section.hero_slider > div.slider_window > div.slider_track {
  display: flex;
  height: 100%;
  width: 100%; 
  transition: translateX(0);
}

body > main > section.hero_slider > div.slider_window > div.slider_track > article.slide_item {
  min-width: 25%; 
  max-width: 25%; 
  flex-shrink: 0;
  flex-grow: 1;
  height: 100%;
  
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  background-color: var(--inactive-overlay);
  backdrop-filter: blur(2px); 
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  padding: var(--general-padding-margin);
  cursor: pointer;
  
  transition: background-color 0.3s ease, min-width 0.3s ease;
}

body > main > section.hero_slider > div.slider_window > div.slider_track > article.slide_item.active {
  background-color: rgba(40, 52, 138, 0.5);
  backdrop-filter: none; 
}

div.slider_track > article.slide_item > div.content {
  color: var(--text-color);

  transform: translateY(0);
  transition: transform 0.3s ease;

  margin-bottom: 40px;
}

div.slider_track > article.slide_item > div.content > h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;

  margin-bottom: 10px;
}

div.slider_track > article.slide_item > div.content > span.arrow {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  transition: transform 0.3s ease;
}

div.slider_track > article.slide_item:hover > div.content > span.arrow {
  transform: translateX(10px);
}
